autoBlogger.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        435
      ],
      "id": "a7a715d3-b187-4d6a-b79c-eea0c72af7a2",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "hwan001",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "testmd",
          "mode": "list",
          "cachedResultName": "testmd",
          "cachedResultUrl": "https://github.com/hwan001/testmd"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        520,
        435
      ],
      "id": "bb92107c-253e-4873-a0fe-f8c7fbacd002",
      "name": "GitHub",
      "webhookId": "f885c2a8-b808-4bb1-afc0-f9afd167ee38",
      "credentials": {
        "githubOAuth2Api": {
          "id": "sbpPeFUFBbTBOXGg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        740,
        435
      ],
      "id": "7260dda6-91ce-4e68-aff9-219724b673a9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "responseFormat": "string",
        "options": {}
      },
      "id": "256160dd-a8ce-481f-afb4-7a21d111ab4e",
      "name": "Get Markdown1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        960,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/blogger/v3/blogs/615954053408735544/posts/",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Loop Over Items').item.json.name.replace(\".md\", \"\") }}"
            },
            {
              "name": "content",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        435
      ],
      "id": "dcaf6d11-cd13-4aca-9554-8c92e5d5a21a",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "s7zrayOMq9i4ff8M",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        360
      ],
      "id": "f9a25dd1-f43f-4235-9940-fae52c47f18c",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Markdown1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd2cee76-7568-47dc-82fe-87daacdd7820",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07283d7a25787bde6486da8df020a10d7fee9be9c8f5f87c5bc370b20a43fbda"
  },
  "id": "vaZ7CN6EdmSr9SIm",
  "tags": []
}